@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*variables*/
:root {
  /*variables Colors*/
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #1596F5;
  --background-color: ------;
  --text-color: #888888;
  --reserved-color: #011D28;

  /*variables Text*/
  --mega-header: 5em;
  --mini-header: 4em;
  --header-text: 3em;
  --medium-text: 2em;
  --small-text: 1.5em;
  --p-text: 1.1em;
  --span-text: 1em;
  --link-span-text: 0.8em;
}

.notification-positioning {
	position: absolute;
	top: 20%;
	padding: 10px;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
}

.header {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
}

.header .header-img-ctn {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: relative;
}

.header .header-img-ctn .slider-img.active {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	opacity: 1;
	transition: all 1s ease;
}

.header .header-img-ctn .slider-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	opacity: 0;
	transition: all 1s ease;
}

.header-bg {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5%;
	background-color: rgb(0, 0, 0, .8);
}

.header-bg-ctn {
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	z-index: 555;
}

.header-content-container.active {
	justify-content: center;
	align-items: flex-start;
	margin-right: auto;
	width: 100%;
	max-width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	opacity: 1;
	left: 0;
	transition: all 1s ease;
}

.header-content-container {
	justify-content: center;
	align-items: flex-start;
	margin-right: auto;
	width: 100%;
	max-width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	opacity: 1;
	left: 200%;
	transition: all 1s ease;
}

.header-content-container h1 {
	font-size: var(--mini-header);
	font-weight: 300;
	color: var(--primary-color);
}

.header-content-container p {
	font-size: var(--span-text);
	font-weight: 300;
	width: 70%;
	color: var(--primary-color);
}

.header-nav {
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: absolute;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding: 40px;
	cursor: pointer;
	z-index: 888;
}

.header-nav span:nth-child(1) {
	padding: 0 5px;
	color: var(--primary-color);
	font-size: var(--span-text);
	font-weight: 300;
}

.header-nav span:nth-child(2) {
	color: var(--primary-color);
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: auto;
    padding: 4%;
}

.container-header {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container-header span {
    font-size: var(--link-span-text);
    font-weight: 300;
    color: var(--secondary-color);
}

.container-header h2 {
    font-size: var(--medium-text);
    font-weight: 300;
    color: var(--tertiary-color);
}

.container-header p {
    font-size: var(--span-text);
    font-weight: 300;
    color: var(--secondary-color);
}

.page-client-icon {
    display: flex;
    gap: 2em;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100px * 9));
    }
}

.page-client-icon img {
    width: 80px;
    height: auto;
    object-fit: scale-down;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}

.page-grid-layout {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-template-rows: minmax(-20px, auto);
	grid-auto-flow: dense;
	gap: 1em;
	padding: 5%;
	background-color: whitesmoke;
}

.page-grid-layout-box:nth-child(1) {
	grid-column: span 3;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.page-grid-layout-box:nth-child(2) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(3) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(4) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(5) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(6) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(7) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(8) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(9) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box:nth-child(10) {
	grid-column: span 1;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.page-grid-layout-box h2 {
	font-size: var(--medium-text);
	font-weight: 300;
	color: var(--secondary-color);
}

.page-grid-layout-box h3 {
	font-size: var(--p-text);
	font-weight: 300;
	color: var(--tertiary-color);
	padding-bottom: 10px;
}

.page-grid-layout-box p {
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--secondary-color);
}

.page-grid-layout-box a {
	font-size: var(--span-text);
	font-weight: 300;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border-radius: 5px;
	padding: 10px 50px;
	width: auto;
	height: auto;
	text-decoration: none;
	display: flex;
	margin-right: auto;
}

.page-grid-layout-box a img {
	width: 25px;
	height: auto;
	object-fit: scale-down;
	padding-left: 5px;
}

.page-grid-layout-box .span-header {
	font-size: var(--link-span-text);
	font-weight: 300;
	color: var(--tertiary-color);
}

.feature-section {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	position: relative;
	overflow: hidden;
}

.feature-section .feature-section-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.feature-section-ctn {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
	padding: 5%;
}

.feature-section-grid {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-template-rows: minmax(-20px, auto);
	grid-auto-flow: dense;
	gap: 1em;
}

.feature-section-grid-box-icon {
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	padding-top: 2%;
}

.feature-section-grid-box-icon-box {
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	padding: 10px 0;
}

.feature-section-grid-box-icon-box img {
	width: 100px;
	height: auto;
	object-fit: cover;
}

.feature-section-grid-box-icon-box span {
	font-size: var(--span-text);
	color: var(--primary-color);
	font-weight: 300;
	padding: 10px 0;
}

.feature-section-grid-box h2 {
	font-size: var(--medium-text);
	font-weight: 300;
	color: var(--tertiary-color);
}

.feature-section-grid-box h3 {
	font-size: var(--p-text);
	font-weight: 300;
	color: var(--primary-color);
}

.feature-section-grid-box p {
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--primary-color);
}

.feature-section-grid-box a {
	text-decoration: none;
	color: var(--primary-color);
	background-color: var(--tertiary-color);
	border-radius: 5px;
	width: 100%;
	height: auto;
	padding: 10px;
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--primary-color);
}

.feature-section-grid-box span {
	font-size: var(--link-span-text);
	font-weight: 300;
	color: var(--primary-color);
}

.feature-section-grid-box:nth-child(1) {
	grid-column: span 3;
}

.feature-section-grid-box:nth-child(2) {
	grid-column: span 1;
	padding: 10px;
	border-radius: 10px;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: rgba(100, 100, 100, .4);
  backdrop-filter: saturate(25%) blur(10px);
}

.feature-section-grid-box:nth-child(3) {
	grid-column: span 1;
	padding: 10px;
	border-radius: 10px;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: rgba(100, 100, 100, .4);
  backdrop-filter: saturate(25%) blur(10px);
}

.feature-section-grid-box:nth-child(4) {
	grid-column: span 1;
	padding: 10px;
	border-radius: 10px;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: rgba(100, 100, 100, .4);
  backdrop-filter: saturate(25%) blur(10px);
}

.feature-section-grid-box:nth-child(5) {
	grid-column: span 1;
	padding: 10px;
	border-radius: 10px;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: rgba(100, 100, 100, .4);
  backdrop-filter: saturate(25%) blur(10px);
}

.feature-section-grid-box:nth-child(6) {
	grid-column: span 1;
	padding: 10px;
	border-radius: 10px;
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: rgba(100, 100, 100, .4);
  backdrop-filter: saturate(25%) blur(10px);
}

.feature-section-grid-box-link {
	justify-content: flex-start;
	align-items: center;
	margin-right: auto;
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: row;
	gap: .5em;
}

.feature-section-grid-box-link a {
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	border-radius: 5px;
	padding: 10px 50px;
	width: auto;
	height: auto;
	text-decoration: none;
	display: flex;
}

.feature-section-grid-box-link a span {
	font-size: var(--span-text);
	font-weight: 300;
}

.feature-section-grid-box-link a img {
	width: 25px;
	height: auto;
	object-fit: scale-down;
	padding-left: 5px;
}

.feature-section-platforms {
	justify-content: center;
	align-items: center;
	margin-top: auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding-top: 4%;
}

.feature-section-header {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.feature-section-header span {
	font-size: var(--link-span-text);
	color: var(--primary-color);
	font-weight: 300;
}

.feature-section-header h2 {
	font-size: var(--medium-text);
	color: var(--primary-color);
	font-weight: 300;
	width: 70%;
}

.feature-footer {
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding: 5%;
}

.feature-footer-main {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 40%;
	height: auto;
	padding-right: 8%;
}

.feature-footer-main h2 {
	font-size: var(--medium-text);
	font-weight: 300;
	color: var(--tertiary-color);
}

.feature-footer-main p {
	font-size: var(--medium-text);
	font-weight: 300;
	color: var(--secondary-color);
}

.feature-footer-main-container {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.feature-footer-main-container-box {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-shadow: 0 5px 10px hsl(0 10% 25% / 50%);
	border-radius: 10px;
}

.feature-footer-main-container-box span {
	font-size: var(--link-span-text);
	font-weight: 300;
	color: var(--secondary-color);
}

.feature-footer-main-container-box h3 {
	font-size: var(--p-text);
	font-weight: 300;
	color: var(--tertiary-color);
}

.feature-footer-main-container-box p {
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--secondary-color);
}

.feature-footer-main-container-box a {
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--tertiary-color);
}

.updated-ctn-grid-ctn-header {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 4%;
}

.updated-ctn-grid-ctn-header h2 {
	font-size: var(--medium-text);
	font-weight: 300;
	color: var(--primary-color);
}

.updated-ctn-grid-ctn-header span {
	font-size: var(--link-span-text);
	font-weight: 300;
	color: var(--primary-color);
}

.updated-ctn-grid-ctn {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--tertiary-color);
}

.updated-ctn-grid {
	padding: 4%;
	width: 100%;
	max-width: 1440px;
	height: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, auto));
	grid-auto-flow: dense;
}

.updated-ctn-grid-box {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	background-color: var(--tertiary-color);
	position: relative;
}

.updated-ctn-grid-box:nth-child(1){
	border-right: 1px solid var(--secondary-color);
	border-bottom: 1px solid var(--secondary-color);
}

.updated-ctn-grid-box:nth-child(2){
	border-bottom: 1px solid var(--secondary-color);
}

.updated-ctn-grid-box:nth-child(3){
	border-left: 1px solid var(--secondary-color);
	border-bottom: 1px solid var(--secondary-color);
}

.updated-ctn-grid-box:nth-child(4){
	border-right: 1px solid var(--secondary-color);
}

.updated-ctn-grid-box:nth-child(6){
	border-left: 1px solid var(--secondary-color);
}

.updated-ctn-grid-box-cn {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: auto;
	display: flex;
	opacity: 0;
	flex-direction: column;
	padding: 10px;
	position: absolute;
}

.updated-ctn-grid-box.active {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: transparent;
	position: relative;
}

.updated-ctn-grid-box-img {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 10px;
	position: absolute;
	opacity: 1;
}

.updated-ctn-grid-box-img img {
	width: 150px;
	font-weight: 100;
	height: auto;
	object-fit: scale-down;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	filter: invert(100%);
}

.updated-ctn-grid-box-img span {
	font-size: var(--primary-color);
	color: var(--primary-color);
	font-weight: 300;
	letter-spacing: 1px;
}

.filter-img-ctn {
	filter: invert(100%);
}

.updated-ctn-grid-box:hover {
	background-color: transparent;
	transition: all 3s ease;
}

.updated-ctn-grid-box:hover .updated-ctn-grid-box-cn {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	opacity: 1;
	background-color: rgba(0, 0, 0, .8);
	transition: all 1s ease;
}

.headerCtn {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: absolute;
	z-index: 333;
}

.startUpContainer {
	background-color: var(--secondary-color);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.startUp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 555;
}

.logoTitleCtn {
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
}

.logoTitleContent {
	color: var(--primary-color);
	font-size: var(--span-text);
	letter-spacing: 6px;
	text-transform: uppercase;
	text-align: center;
}

.devtegrateImage {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    width: auto;
    max-width: 10%;
    height: 350px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

 #layerSvg {
 	width: 2000px;
 	height: 50px;
 	stroke: var(--primary-color);
 	fill-opacity: 0;
 	stroke-width: 5px;
 	stroke-dasharray: 4500;
 	animation: svgAnimation 3s ease infinite;
 	transform: rotate(90deg);
 }

@keyframes layerSvgAnimation {
    0%{
        stroke-dashoffset: 3000;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

#svg {
    margin: 10px auto;
    object-fit: scale-down;
    height: 180px;
    width: 180px;
    stroke: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

#imgsvg {
    margin: 10px auto;
    object-fit: scale-down;
    height: 40px;
    width: 40px;
    stroke: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

.updated-ctn-grid-box:hover #svg {
	stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

@keyframes svgAnimation {
    0%{
        stroke-dashoffset: 4500;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.updated-ctn-grid-box:hover .updated-ctn-grid-box-img {
	opacity: .6;
	transition: all 3s ease;
}

.updated-ctn-grid-box-cn h2 {
	font-size: var(--p-text);
	font-weight: 300;
	color: var(--primary-color);
}

.updated-ctn-grid-box-cn p {
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--primary-color);
}

.footer-form-ctn {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	flex-direction: row;
	position: relative;
}

.footer-form-ctn .form-img-bg  {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer-form-ctn img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.footer-form-ctn-box {
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
}

.footer-form-ctn-box-content {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 4%;
}

.footer-form-ctn-box-content h2 {
	font-size: var(--medium-text);
	color: var(--primary-color);
	font-weight: 300;
}

.footer-form-ctn-box-content p {
	font-size: var(--span-text);
	color: var(--primary-color);
	font-weight: 300;
	text-align: center;
	width: 100%;
}

.microsoftFormSpacer {
	width: 100%;
	max-width: 1240px;
	padding: 0 4%;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.footer-form-ctn-box form {
	justify-content: center;
	align-items: flex-start;
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 10px;
	gap: .5em;
}

.footer-form-ctn-box form .footer-form-ctn-box-box {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: .5em;
}

.footer-form-ctn-box form .footer-form-ctn-box-box .footer-form-ctn-box-box-cn {
	gap: 1em;
	width: 100%;
	background-color: var(--secondary-color);
	padding: 10px;
	border-radius: 10px;
}

.footer-form-ctn-box form .footer-form-ctn-box-box .footer-form-ctn-box-box-cn label {
	font-size: var(--span-text);
	font-weight: 300;
	color: var(--primary-color);
}

.footer-form-ctn-box form .footer-form-ctn-box-box .footer-form-ctn-box-box-cn input {
	font-size: var(--span-text);
	font-weight: 500;
	width: 100%;
	height: auto;
	min-height: 50px;
	padding: 10px;
	outline: none;
	color: var(--primary-color);
	background-color: var(--secondary-color);
	border: none;
}

.footer-form-ctn-box form .footer-form-ctn-box-box .footer-form-ctn-box-box-cn select {
	font-size: var(--span-text);
	font-weight: 300;
	width: 100%;
	height: auto;
	min-height: 50px;
	padding: 10px;
	outline: none;
	color: var(--tertiary-color);
	background-color: transparent;
	border: none;
	text-align: right;
}


/*variables*/
:root {
  /*variables Colors*/
  --primary-color: #FFFFFF;
  --secondary-color: #000000;
  --tertiary-color: #1596F5;
  --text-color: #888888;
  --reserved-color: #011D28;
  --instagram: linear-gradient(45deg, #833AB4, #FD1D1D, #F77737);
  --facebook: #1877F2;
  --twitter: #1DA1F2;
  --gmail: #D14836;

  /*variables Text*/
  --mega-header: 5em;
  --mini-header: 4em;
  --header-text: 3em;
  --medium-text: 2em;
  --small-text: 1.5em;
  --p-text: 1.1em;
  --button-text: 0.9em;
  --link-span-text: 0.8em;
}

@keyframes ButtonAnimations {
    0% {
        left: 5px;
        width: 50px;
    }
    25% {
        left: calc(40% - 55px);
    }
    50% {
        left: 5px;
        width: 50px;
    }
    75% {
        left: calc(40% - 55px);
    }
    100% {
        left: 5px;
        width: 50px;
    }

}

.animationBtn {
    position: relative;
    width: 350px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
}

.animationBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.animationBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
    animation: 6s ButtonAnimations;
}

.animationBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.animationBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.animationBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.formBtn {
    position: relative;
    width: 400px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
    outline: none;
    border: 1px solid var(--tertiary-color);
}

.formBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, .55);
    border: 1px solid var(--secondary-color);
}

.formBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.formBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.formBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.formBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.extraBtn {
    position: relative;
    width: 350px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    cursor: pointer;
    font-size: var(--button-text);
}

.extraBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, .55);
}

.extraBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.extraBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.extraBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.extraBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.footerBtn {
    position: relative;
    width: 250px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
}

.footerBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.footerBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.footerBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.footerBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.footerBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.subscriptionBtn {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
    outline: none;
    border: 1px solid var(--tertiary-color);
}

.subscriptionBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.subscriptionBtn .bx {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.subscriptionBtn:hover .bx {
    left: calc(100% - 45px);
    background-color: var(--tertiary-color);
}

.subscriptionBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.subscriptionBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.ctaBtn {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
}

.ctaBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.ctaBtn .bx {
    position: absolute;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.ctaBtn:hover .bx {
    left: calc(100% - 45px);
    background-color: var(--tertiary-color);
}

.ctaBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.ctaBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.reverseBtn {
    position: relative;
    width: 350px;
    height: 60px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
}

.reverseBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.reverseBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.reverseBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.reverseBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.reverseBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.socialBtnSuperCta {
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    display: flex;
    width: 100%;
}

.socialBtnCta {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border: 1px solid var(--tertiary-color);
}

.socialBtnCta:hover {
    width: 150px;
}

.socialIcon {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
}

.socialIcon {
    background-color: var(--facebook);
    color: var(--primary-color);
    border: 1px solid var(--facebook);
}

.socialIcon .bx {
    font-size: var(--button-text);
    line-height: 40px;
    font-weight: 500;
}

.socialBtnCta span {
    font-size: var(--button-text);
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.smBtn {
    position: relative;
    width: 150px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
}

.smBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--reserved-color);
}

.smBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.smBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.smBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.smBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.lgBtn {
    position: relative;
    width: 400px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
    cursor: pointer;
}

.lgBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.lgBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.lgBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.lgBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.lgBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

.verifyBtn {
    position: relative;
    width: 200px;
    height: 60px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding-left: 40px;
    transition: .5s;
    overflow: hidden;
    font-size: var(--button-text);
    outline: none;
    border: 1px solid var(--tertiary-color);
}

.verifyBtn:hover {
    padding-left: 0px;
    padding-right: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.verifyBtn .bx {
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: .5s ease-in-out;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    font-size: var(--button-text);
    font-weight: 100;
}

.verifyBtn:hover .bx {
    left: calc(100% - 55px);
    background-color: var(--tertiary-color);
}

.verifyBtn:after {
    contain: '';
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 0, 200, .9);
    transform: translateX(-170px) skewX(30deg);
    transition: 3s ease-in-out;
}

.verifyBtn:hover:after {
    transform: translateX(170px) skewX(30deg);
}

/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

#svg {
    margin: 10px auto;
    object-fit: scale-down;
    height: 180px;
    width: 180px;
    stroke: var(--primary-color);
    fill-opacity: 0;
    stroke-width: 3px;
    stroke-dasharray: 4500;
    animation: svgAnimation 20s ease infinite;
}

@keyframes svgAnimation {
    0%{
        stroke-dashoffset: 4500;
    }
    100%{
        stroke-dashoffset: 0;
    }
}


/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 430px) {

    .advanceFlex {
        flex-direction: column;
    }

    .footer-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .socialBtnSuperCta {
        justify-content: flex-start;
        padding: 10px 0;
    }

    .formBtn {
        width: 100%;
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 390px) {
    .formBtn {
        width: 300px;
    }

    .lgBtn {
        width: 300px;
    }

    .animationBtn {
        width: 320px;
    }
}


@media screen and (max-width: 1280px) {

	.page-client-icon {
	    display: flex;
	    gap: 2em;
	    width: calc(250px * 18);
	    animation: scroll 40s linear infinite;
	}

    .updated-ctn-grid-box:nth-child(3){
    	border-left: none;
		border-right: 1px solid var(--secondary-color);
	}

	.updated-ctn-grid-box:nth-child(4){
		border-right: none;
		border-bottom: 1px solid var(--secondary-color);
	}

}

@media screen and (min-width: 3043px) and (-webkit-min-device-pixel-ratio: 1.366) {
    .footer-form-ctn {
        max-height: 80vh;
    }
}

@media screen and (min-width: 2561px) and (max-width: 3042px) and (-webkit-min-device-pixel-ratio: 1.366) {
    .footer-form-ctn {
        max-height: 85vh;
    }
}

@media screen and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 1.366) {
	.footer-form-ctn {
		max-height: 60vh;
	}
}

@media screen and (min-width: 1921px) and (max-width: 2560px) and (-webkit-min-device-pixel-ratio: 1.366) {
    .footer-form-ctn {
        max-height: 90vh;
    }
}

@media screen and (max-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.366) {
	.footer-form-ctn {
		max-height: 100vh;
	}
}

@media screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.366) {

	.header-content-container.active {
		max-width: 80%;
	}

	.header-content-container {
		max-width: 80%;
	}

	.header-content-container p {
		width: 100%;
	}

    .page-client-icon {
	    display: flex;
	    gap: 2em;
	    width: calc(200px * 18);
	    animation: scroll 40s linear infinite;
	}

    .feature-section {
    	height: 200vh;
    }

    .footer-header-content-link {
    	width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        grid-template-rows: minmax(-20px, auto);
        grid-auto-flow: dense;
        gap: .5em;   
    }

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 912px) {

	.header {
		height: 60vh;
	}

	.page-client-icon {
	    width: calc(150px * 18);
	}

    .feature-section {
    	height: 100vh;
    }

    .footer-form-ctn-box {
    	display: flex;
    	flex-direction: column;
    }

    .footer-form-ctn-box form .footer-form-ctn-box-box {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	margin: auto;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 853px) {

	.footer-header-content {
    	display: flex;
    	flex-direction: column;
    }

    .footer-form-ctn {
    	height: 100vh;
    }

    .footer-form-ctn-box form {
    	height: auto;
    }

    .footer-form-ctn-box-content {
    	height: auto;
    	margin: 0 auto;
    }

	.updated-ctn-grid {
		grid-template-columns: repeat(auto-fill, minmax(300px, auto));
	}

	.updated-ctn-grid-box:nth-child(1){
    	border: none;
	}

	.updated-ctn-grid-box:nth-child(2){
		border: none;
	}

	.updated-ctn-grid-box:nth-child(3){
    	border: none;
	}

	.updated-ctn-grid-box:nth-child(4){
		border: none;
	}

	.updated-ctn-grid-box:nth-child(5){
    	border: none;
	}

	.updated-ctn-grid-box:nth-child(6){
		border: none;
	}

	.page-client-icon {
	    width: calc(150px * 18);
	}

    .feature-section {
    	height: 130vh;
    }

    .container-header p {
    	max-width: 70%;
    	text-align: center;
    }

    .page-grid-layout {
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	    justify-content: flex-start;
	    align-items: flex-start;
	    margin: auto;
	    gap: 1rem;
	    width: 100%;
	    height: auto;
    }

    .feature-section-grid {
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	    justify-content: flex-start;
	    align-items: flex-start;
	    margin: 0 auto;
	    gap: 1rem;
	    width: 100%;
	    height: auto;
    }

    .footer-header-content-link {
    	grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    }
 
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 768px) {

	.header {
		height: 70vh;
	}

	.page-client-icon {
	    width: calc(150px * 18);
	}

    .feature-section {
    	height: 130vh;
    }

    .container-header p {
    	max-width: 70%;
    	text-align: center;
    }

    .page-grid-layout {
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	    justify-content: flex-start;
	    align-items: flex-start;
	    margin: auto;
	    gap: 1rem;
	    width: 100%;
	    height: auto;
    }

    .feature-section-grid {
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	    justify-content: flex-start;
	    align-items: flex-start;
	    margin: 0 auto;
	    gap: 1rem;
	    width: 100%;
	    height: auto;
    }

    .footer-header-content-link {
    	grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    }
 
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 540px) {

	#layerSvg {
	 	width:1500px;
	 	height:250px;
	}

	.advanceFlex {
	 	flex-direction: column;
	 }

	.footer-form-ctn-box form {
		height: auto;
		margin: 0 auto;
	}

	.footer-form-ctn-box-content p {
		max-width: 100%;
	}

	.footer-form-ctn-box form .footer-form-ctn-box-box {
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.footer-form-ctn-box form button span {
		width: 100%;
		text-align: center;
	}

	.footer-form-ctn-box form .footer-form-ctn-box-box .footer-form-ctn-box-box-cn {
		width: 100%;
	}

	.updated-ctn-grid {
		padding: 0;
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.header-content-container.active {
		max-width: 100%;
	}

	.header-content-container {
		max-width: 100%;
	}

	.header-content-container h1 {
		font-size: var(--header-text);
	}

	.header-content-container {
		max-width: 100%;
	}

	.header {
		height: 100vh;
	}

	.container-header h2 {
		font-size: var(--small-text);
	}

	.container-header {
		align-items: flex-start;
	}

	.container-header p {
		max-width: 100%;
		text-align: left;
	}

	.page-grid-layout {
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.page-grid-layout-box h2 {
		font-size: var(--small-text);
	}

	.page-grid-layout-box:nth-child(1) {
		padding: 0;
	}

	.feature-section {
		height: 200vh;
	}

	.feature-section-grid {
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.feature-section-grid-box-link a {
		padding: 10px 20px;
	}

	.feature-section-header h2 {
		width: 100%;
		font-size: var(--small-text);
	}

	.feature-section-grid-box-icon {
		display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
	    justify-content: flex-start;
	    align-items: flex-start;
	    margin: 0 auto;
	    gap: .5rem;
	    width: 100%;
	    height: auto;
	}

	.feature-section-grid-box-icon-box {
		padding: 10px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.feature-section-grid-box-icon-box img {
		width: 50px;
	}

	.feature-footer {
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.feature-footer-main-container {
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.feature-footer-main {
		max-width: 100%;
		padding: 0px;
	}

	.feature-footer-main h2 {
		font-size: var(--small-text);
	}

	.feature-footer-main p {
		font-size: var(--p-text);
	}

	.footer-header-content {
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.footer-header-content-link {
		padding-top: 5%;
		width: 100%;
		grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	}

	.footer-subscription-ctn {
		flex-direction: column;
	}

	.footer-subscription-form form {
		width: 100%;
	}

	.footer-subscription-form form input {
		width: 100%;
	}

	.feature-section-grid-box-link {
	    justify-content: flex-start;
	    align-items: center;
	    margin-right: auto;
	    display: flex;
	    width: 100%;
	    height: auto;
	    flex-direction: column;
	    gap: .5em;
	}

	.feature-section-grid-box-link a {
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: auto;
	}

	.feature-section-grid-box-icon {
	    justify-content: flex-start;
	    align-items: center;
	    margin-right: auto;
	    display: flex;
	    width: 100%;
	    height: auto;
	    flex-direction: column;
	    gap: .5em;
	    padding: 2% 0;
	}

	.feature-section-grid-box-icon-box {
		justify-content: flex-start;
	    align-items: center;
	    margin-right: auto;
	    display: flex;
	    width: 100%;
	    height: auto;
	    flex-direction: row;
	    gap: .5em;
	}

	.footer-header-content-details h2 {
		font-size: var(--small-text);
	}

	.page-grid-layout-box a {
		display: flex;
		flex-direction: row;
	}

	.footer-form-ctn {
		height: 1000px;
		max-height: 100%;
	}

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 430px) {

	.footer-split-ctn {
		padding-right: 0;
	}

	.container-header {
		align-items: center;
		text-align: center;
	}

	.container-header p {
		max-width: 100%;
		text-align: center;
	}

	.footer-header-content-link {
		justify-content: center;
		align-items: center;
		margin: auto;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}

	.header-content-container h1 {
		font-size: var(--medium-text);
	}

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 390px) {

	.header-content-container h1 {
		font-size: var(--medium-text);
	}

}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 375px) {

	.feature-section {
		height: 270vh;
	}

}